In [1]:
import skmob

In [2]:
!pip install psycopg2-binary pandas sqlalchemy

Requirement already satisfied: psycopg2-binary in /root/miniconda3/envs/skmob/lib/python3.7/site-packages (2.8.6)
Requirement already satisfied: pandas in /root/miniconda3/envs/skmob/lib/python3.7/site-packages/pandas-0.24.0-py3.7-linux-x86_64.egg (0.24.0)
Requirement already satisfied: sqlalchemy in /root/miniconda3/envs/skmob/lib/python3.7/site-packages (1.3.20)
Requirement already satisfied: numpy>=1.12.0 in /root/miniconda3/envs/skmob/lib/python3.7/site-packages/numpy-1.17.2-py3.7-linux-x86_64.egg (from pandas) (1.17.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /root/miniconda3/envs/skmob/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in /root/miniconda3/envs/skmob/lib/python3.7/site-packages/pytz-2019.2-py3.7.egg (from pandas) (2019.2)
Requirement already satisfied: six>=1.5 in /root/miniconda3/envs/skmob/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [3]:
import psycopg2 as pg
import pandas as pd

In [4]:
dbprops = {
    'host': 'dbapp.hanyang.ac.kr',
    'database': '',
    'user': '',
    'password': '',
    'port': ''
}
conn = pg.connect(**dbprops)

In [5]:
cur = conn.cursor()

In [6]:
sql = "select tp.fixtime at time zone 'utc' at time zone 'Asia/Seoul' as datetime, tp.* from tc_devices td, tc_positions tp where td.id = 1 AND tp.deviceid = td.id AND tp.deviceid = td.id AND tp.fixtime BETWEEN '2020-10-22 09:00:00'::timestamp AND '2020-10-23 02:00:00'::timestamp ORDER BY tp.id"
df = pd.read_sql(sql, conn)
df.head()

,datetime,id,protocol,deviceid,servertime,devicetime,fixtime,valid,latitude,longitude,altitude,speed,course,address,attributes,accuracy,network
0,2020-10-22 18:00:19,441010,osmand,1,2020-10-22 09:00:21.240,2020-10-22 09:00:19,2020-10-22 09:00:19,True,37.555743,127.049386,64.400002,0.000000,0.000000,None,"{""batteryLevel"":92.0,""distance"":0.81,""totalDis...",13.698,null
1,2020-10-22 18:10:20,441011,osmand,1,2020-10-22 09:10:22.072,2020-10-22 09:10:20,2020-10-22 09:10:20,True,37.555755,127.049387,63.199997,0.000000,0.000000,None,"{""batteryLevel"":96.0,""distance"":1.3,""totalDist...",14.070,null
2,2020-10-22 18:28:30,441014,osmand,1,2020-10-22 09:28:31.918,2020-10-22 09:28:30,2020-10-22 09:28:30,True,37.555747,127.049387,63.199997,0.000000,0.000000,None,"{""batteryLevel"":100.0,""distance"":0.88,""totalDi...",13.488,null
3,2020-10-22 18:31:01,441015,osmand,1,2020-10-22 09:31:03.230,2020-10-22 09:31:01,2020-10-22 09:31:01,True,37.555854,127.049336,64.599998,0.000000,0.000000,None,"{""batteryLevel"":100.0,""distance"":12.67,""totalD...",11.510,null
4,2020-10-22 18:31:23,441016,osmand,1,2020-10-22 09:31:25.213,2020-10-22 09:31:23,2020-10-22 09:31:23,True,37.555838,127.049337,64.599998,0.093432,147.637253,None,"{""batteryLevel"":100.0,""distance"":1.71,""totalDi...",11.042,null

In [10]:
df2=df[['datetime', 'deviceid', 'latitude', 'longitude', 'altitude', 'speed', 'attributes', 'accuracy']]
#df2.head()


one=df2.iloc[1]
one = pd.DataFrame(one)
one
#irr2=df2.iloc[113:115, :]
#re1=df2.iloc[116:120,:]

                                                            1
datetime                                  2020-10-22 18:10:20
deviceid                                                    1
latitude                                              37.5558
longitude                                             127.049
altitude                                                 63.2
speed                                                       0
attributes  {"batteryLevel":96.0,"distance":1.3,"totalDist...
accuracy                                                14.07

In [15]:
tdf1 = skmob.TrajDataFrame(one, latitude='latitude', longitude='longitude', datetime='datetime', user_id='device_id')
#tdf2=skmob.TrajDataFrame(df2, latitude='latitude', longitude='longitude', datetime='datetime', user_id='deviceid')

#tdf3=skmob.TrajDataFrame(irr1, latitude='latitude', longitude='longitude', datetime='datetime', user_id='deviceid')

In [16]:
tdf1
tdf1.plot_trajectory()
#tdf2
#tdf2.plot_trajectory()

# tdf3
# tdf3.plot_trajectory()

KeyError: "None of [Index(['lng', 'lat'], dtype='object')] are in the [columns]"

* tdf는 근성선배 코드라서 내가 알아보기 쉽게 구현함*

In [ ]:
from skmob.preprocessing import filtering

In [ ]:
ftdf1 = filtering.filter(tdf1, max_speed_kmh=300, include_loops=True, max_loop=6, ratio_max=0.5)
# ftdf2 = filtering.filter(tdf3, max_speed_kmh=300, include_loops=True, max_loop=6, ratio_max=0.5)

In [ ]:
ftdf1.plot_trajectory()
#ftdf2.plot_trajectory()

In [ ]:
from skmob.preprocessing import detection

In [ ]:
stdf1 = detection.stops(ftdf1,  stop_radius_factor=0.5, minutes_for_a_stop=20.0, spatial_radius_km=0.2, leaving_time=True)
#stdf2 = detection.stops(ftdf2,  stop_radius_factor=0.5, minutes_for_a_stop=20.0, spatial_radius_km=0.2, leaving_time=True)

In [ ]:
stdf1.plot_stops()